@model IEnumerable<DailyScores.Models.EmailSubmission>

<h2>Recent Email Submissions:</h2>
<table>
    <tr>
        <th></th>
        <th>Body</th>
    </tr>
@foreach (var email in Model)
{
    <tbody class="row-grouping">
        <tr>
            <td>@Html.DisplayFor(item => email.EmailSubmissionId)</td>
            <td rowspan="3">@Html.DisplayFor(item => email.Body)</td>
        </tr>
        <tr>
            <td>@Html.DisplayFor(item => email.ModifiedDtm)</td>
        </tr>
        <tr>
            <td>@Html.DisplayFor(item => email.From)</td>
        </tr>
    </tbody>
}
</table>
