@model IEnumerable<DailyScores.Models.Player>

@{
    ViewBag.Title = "Players";
}

<h2>Players</h2>

<ul>
    @foreach (var player in Model.OrderBy(p => p.Name))
    {
        <li>@Html.ActionLink(player.Name, "Details", new { id=player.PlayerId })</li>
    }
</ul>
