@model IEnumerable<DailyScores.Models.LogGroup>

@{
    ViewBag.Title = "Logs";
}

<h2>Recent Log Entries</h2>

<table>
    <tr>
        <th>Group Id</th>
        <th>Entry Id</th>
        <th>Description</th>
    </tr>
@foreach (var group in Model)
{
    foreach (var entry in group.LogEntries.OrderByDescending(e => e.EntryId))
    {
        <tr>
            <td>@group.GroupId</td>
            <td>@entry.EntryId</td>
            <td>@entry.Description</td>
        </tr>
    }
}
</table>
