@using DailyScores.Models
@{
    ViewBag.Title = "Scores";
}

<h2>All Recent Scores</h2>

<p>@Html.Partial("_RecentHidatoScores", ViewBag.HidatoScores as IEnumerable<HidatoScore>)</p>
<p>@Html.Partial("_RecentJumbleScores", ViewBag.JumbleScores as IEnumerable<JumbleScore>)</p>