@model IEnumerable<DailyScores.Models.EmailSubmission>

@{
    ViewBag.Title = "Index";
}

<h2>Scores</h2>
<ul>
    @foreach (var email in Model)
    {
        <li>@string.Format("([FROM:{0}], [TO:{1}], [SUBJECT:{2}], [BODY:{3}]", email.From, email.To, email.Subject, email.Body)</li>
    }
</ul>
